<div class="flex justify-center w-full mt-10">
  <div class="bg-white p-8 rounded shadow-md w-6/12 sm:w-96">
    <h2 class="text-2xl font-bold mb-4">Register</h2>
    <form [formGroup]="registerForm">
      <div class="mb-4">
        <mat-form-field class="w-full">
          <mat-label for="name">Name</mat-label>
          <input
            type="text"
            formControlName="name"
            matInput
            placeholder="Your Name"
            required
          />
        </mat-form-field>
      </div>
      <div class="mb-4">
        <mat-form-field class="w-full">
          <mat-label for="email">Email</mat-label>
          <input
            type="text"
            formControlName="email"
            matInput
            placeholder="Your Email"
            required
          />
        </mat-form-field>
      </div>
      <div class="mb-6">
        <mat-form-field class="w-full">
          <mat-label for="password">Password</mat-label>
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Your Password"
            required
          />
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        (click)="register()"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </form>
  </div>
</div>
